/backups/
/crash-reports/
/logs/
/mods/
/downloads/
/local/
/ESM/
/schematics/
/screenshots/
/shaderpacks/
/XaeroWaypoints/
/XaeroWaypoints_*/
/XaeroWorldMap/

/saves/*/
!/saves/Flat2/
/defaultconfigs/ftbultimine/
/config/jei/world/
/config/inventoryprofilesnext/*/
!/config/inventoryprofilesnext/integrationHints/
/resourcepacks/*
!/resourcepacks/smoothed-mcfont-*/

/.curseclient
/options.txt
/usercache.json
/usernamecache.json
/minecraftinstance.json
/emi.json
/TrashSlotSaveState.json
